*.DS_Store
*.retry

roles/sublime/files/User/oscrypto-ca-bundle.crt
roles/sublime/files/User/Package Control.ca-bundle
roles/sublime/files/User/Package Control.ca-certs/
roles/sublime/files/User/Package Control.ca-list
roles/sublime/files/User/Package Control.cache/
roles/sublime/files/User/Package Control.last-run
roles/sublime/files/User/Package Control.merged-ca-bundle
roles/sublime/files/User/Package Control.system-ca-bundle
roles/vscode/files/User/workspaceStorage/
